<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<html>
<head th:include="_fragments :: header">
    <title id="pageTitle">Colibri</title>
    <!-- other elements you want to reference in your layout -->
</head>

<body>

<div th:insert="~{_fragments :: top_menu}"></div>

<div class="container" th:if="${successChangePassword}">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        Пароль для пользователя
        <strong th:text="${user.username}">USER NAME'</strong> успешно изменен
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Изменение данных</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="#" th:action="@{/admin/user_edit/save_changes}" th:object="${user} "
                          method="post">


                        <div class="form-group" th:if="${not #strings.isEmpty(user.username)}">

                            <div class="col-sm-10">
                                <input type="hidden" class="form-control" id="userId" placeholder="ID" th:field="*{id}"
                                       th:readonly="true">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="userUsername" class="col-sm-2 control-label">Логин</label>
                            <div class="col-sm-10">
                                <input type="text" th:readonly="true" class="form-control" id="userUsername" placeholder="Логин" th:field="*{username}">
                                <span class="label label-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">USERNAME ERROR'</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="userPassword" class="col-sm-2 control-label">Пароль</label>
                            <div class="col-sm-10" align="right">
                                <input type="password" th:readonly="true" class="form-control" id="userPassword" placeholder="********">
                                <a  th:href="@{'/admin/user_edit_password/' + ${user.id}}">Сменить пароль</a>
                                <span class="label label-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">PASSWORD ERROR'</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="userEmail" class="col-sm-2 control-label">e-Mail</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="userEmail" placeholder="e-Mail" th:field="*{email}">
                                <span class="label label-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">EMAIL ERROR'</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" th:field="*{enabled}"> Активен
                                        <span class="label label-danger" th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}">ENABLED ERROR'</span>
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="userRoles">Роли</label>
                            <div class="col-sm-10">
                                <select id="userRoles" class="form-control" multiple="multiple" th:field="*{roles}">
                                    <option th:each="s : ${userRoles}"
                                            th:value="${s.id}"
                                            th:text="${s.roleTitle}">
                                    </option>
                                </select>
                                <span class="label label-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">ROLES ERROR'</span>
                            </div>
                        </div>


                        <div class="form-group" align="right">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button th:if="${ #strings.isEmpty(user.username)}" type="submit"
                                        class="btn btn-success">Добавить
                                </button>
                                <button th:if="${not #strings.isEmpty(user.username)}" type="submit"
                                        class="btn btn-success">Редактировать
                                </button>
                                <span> или </span><a href="/admin/user_list">Отмена</a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>