<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
<div th:fragment="top">
    <table border="0" cellspacing="2" cellpadding="2" width="500">
        <tbody>
        <tr>
            <td style="text-align: center;" width="80" bgcolor="#C0C0C0"><a href="/">На главную</a></td>
            <td style="text-align: center;" width="80" bgcolor="#C0C0C0"><a href="/test">Тесты</a></td>
            <td style="text-align: center;" width="80" bgcolor="#C0C0C0"><a href="/user">Юзер</a></td>
            <td style="text-align: center;" width="80" bgcolor="#C0C0C0"><a href="/admin">Админ</a></td>
            <td style="text-align: center;" width="80" bgcolor="#C0C0C0"><a href="/logout">Выход</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>