<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div th:insert="~{_mainMenu :: top}"></div>

<br/>
<br/>

<h1>Book List</h1>
<table th:if="${not #lists.isEmpty(listBooks)}" class="tg">
    <tr>
        <th width="80">ID</th>
        <th width="320">Title</th>
        <th width="220">Author</th>
        <th width="120">Price</th>
        <th width="60">Edit</th>
        <th width="60">Delete</th>
    </tr>
    <tr th:each="book: ${listBooks}">
        <td th:text="${book.id}"></td>
        <td><a th:href="@{'/bookdata/' + ${book.id}}" target="_blank" th:text="${book.getTitle()}">Book title'</a></td>
        <td th:text="${book.getAuthor()}">Book author'</td>
        <td th:text="${book.getPrice()}">Book price'</td>
        <td><a th:href="@{'/edit/' + ${book.id}}">Edit</a></td>
        <td><a th:href="@{'/remove/' + ${book.id}}">Delete</a></td>
    </tr>
</table>


<h1>Add a Book</h1>

<form action="#" th:action="@{/books/add}" th:object="${book}" method="post">
    <table>

        <tr th:if="${not #strings.isEmpty(book.getTitle())}">
            <td>
                <label for="bookId">ID:</label>
            </td>
            <td>
                <input id=bookId type="text"  th:field="*{id}" th:readonly="true"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="bookTitle">Title:</label>
            </td>
            <td>
                <input id="bookTitle" type="text"  th:field="*{title}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="bookAuthor">Author:</label>
            </td>
            <td>
                <input id="bookAuthor" type="text" th:field="*{author}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="bookPrice">Price:</label>
            </td>
            <td>
                <input id="bookPrice" type="text" th:field="*{price}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add book" th:if="${ #strings.isEmpty(book.getTitle())}"/>
                <input type="submit" value="Edit book" th:if="${not #strings.isEmpty(book.getTitle())}"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>