<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="ru">

<head th:include="_fragments :: header">
    <title id="pageTitle">Colibri</title>
    <!-- other elements you want to reference in your layout -->
</head>

<body>


<style type="text/css">
    div.img-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div th:insert="~{_fragments :: top_menu}"></div>

<br>
<br>
<div class="img-center">
    <img src="/images/logo150.png">
</div>


</body>
</html>