<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="_fragments :: header">
    <title id="pageTitle">Colibri</title>
    <!-- other elements you want to reference in your layout -->
</head>

<style type="text/css">
    .label-pill {
        padding-right: .6em;
        padding-left: .6em;
        border-radius: 10rem;
    }

</style>


<body>

<div th:insert="~{_fragments :: top_menu}"></div>

<div class="container" th:if="${successRemove}" >
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>Пользователь
        <strong th:text="${successRemove}">USER NAME'</strong> удален
    </div>
</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Список пользователей</h3>
        </div>
        <div class="panel-body">

            <table class="table table-hover" th:if="${not #lists.isEmpty(listUsers)}">
                <tr>
                    <!--<th width="80">ID</th>-->
                    <th width="320">Имя</th>
                    <th width="20">Активен</th>

                    <th width="60">e-Mail</th>
                    <th width="200">Роли</th>
                    <th width="30"></th>
                </tr>
                <tr th:each="custom_user: ${listUsers}">
                    <td><a th:href="@{'/admin/user_edit/' + ${custom_user.id}}" th:text="${custom_user.username}">User name'</a></td>
                    <td><span th:if="${custom_user.enabled}" class="glyphicon glyphicon-ok"></span></td>
                    <td><span th:text=" ${custom_user.email}">User email'</span></td>
                    <td><span th:each="custom_role: *{custom_user.roles}"><span th:text="*{custom_role.role}"
                                                                                class="label label-pill label-success">ROLE NAME'</span> </span>
                    </td>
                    <td><a th:href="@{'/admin/remove_user/' + ${custom_user.id} + '?user_name='+${custom_user.username}}"><span class="glyphicon glyphicon-remove" style="color: darkgray" data-placement="right" title="Удалить"></span></a></td>
                </tr>
            </table>


        </div>
        <div class="my-sm-3">
            <a href="/admin/user_edit/0" class="btn btn-success active btn-block" role="button" aria-pressed="true">Добавить
                пользователя</a>
        </div>
    </div>
</div>


</body>
</html>